# Node
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Build output
dist/
out/
.next/
.vercel/

# Logs
logs
*.log
*.tsbuildinfo

# OS + Editor files
.DS_Store
Thumbs.db
.vscode/
.idea/
.env
.env.local
.env.*.local

# Runtime
coverage/
*.pid

# Vercel
.vercel/

# Exported zip folders
*.zip
